<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>E:\ProjectWebMVC1\WebSitePublish</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShoppingCartEntities-Web.config Connection String">
      <ParameterValue>metadata=~/bin/Models\Model1.csdl|~/bin/Models\Model1.ssdl|~/bin/Models\Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5053.site4now.net;Initial Catalog=DB_A62240_ShoppingCart;User ID=DB_A62240_ShoppingCart_admin;Password=sarah@777"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>